/* font-family: 'Dosis', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
  
  text-align: center;
  margin: 0 auto;
}

main {
  width: 626px;
  margin: 64px auto;
  text-align: center;
}

main div {
  width: 540px;
  margin: auto;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  font-weight: normal;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}

p span {
  font-weight: bold;
}

strong {
  color: #3F3D56;
}

footer strong {
  font-size: 15px;
}

footer strong + strong {
  margin-left: 42px;
}

.line {
  width: 391px;
  height: 0;

  margin: 0 auto 16px;

  border: 1px solid #ECEFF2;
}

#wave {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}